body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
} 
 
header { 
    background-color: #4CAF50; 
    padding: 20px; 
    color: white; 
} 
 
nav a { 
    margin: 0 15px; 
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
} 
 
.featured { 
    margin: 20px; 
} 
 
.pet-list { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
} 
 
.pet { 
    border: 2px solid #ddd; 
    padding: 15px; 
    text-align: center; 
} 
 
.pet img { 
    width: 150px; 
    height: 150px; 
    border-radius: 10px; 
} 
 
button { 
    background-color: #008CBA; 
    color: white; 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
} 
 
button:hover { 
    background-color: #005f7a; 
} 

footer { 
    background-color: #4CAF50; 
    padding: 20px; 
    color: white; 
} 


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.contact-info {
  max-width: 300px;
  text-align: left;
  font-size: 16px;
}

.map-container iframe {
  max-width: 100%;
}